aetcd3==0.1.0a7
attrs==21.4.0
channels==3.0.5
channels-redis==3.4.0
circus==0.17.1
daphne==3.0.2
django==4.0.5
django-ninja==0.17.0
django-ninja-extra==0.14.8
django-prometheus==2.2.0
django_data_sdk==0.0.15
djangorestframework==3.13.1
gunicorn==20.1.0
jupyterlab==3.4.3
mysqlclient==2.1.1
pre-commit==2.19.0  # https://github.com/pre-commit/pre-commit
pydantic==1.9.1
pytest==7.1.2
pytest-asyncio==0.18.3
pytest-django==4.5.2
pytest-mock==3.8.1
pytest-sugar==0.9.4
uhashring==2.1
uvicorn==0.18.2
uwsgi==2.0.20
uwsgitop==0.11
websockets==10.3
